* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.separate {
    margin-left: 3%;
}

.allItems {
    width: 200px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: cornflowerblue;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}

.allItems:hover {
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
}

.text-all1 {
    text-align: center;
    margin: 2%;
    flex-wrap: wrap;
}

.text-all2 {
    text-align: center;
    margin: 2%;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .allItems {
        flex-direction: column;
    }
}