.logo {
    height: 32px;
    margin: 16px;
    /* background: rgba(255, 255, 255, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .title-logo {
    color: white;
    font-weight: bolder;
  }
  
  .site-layout .site-layout-background {
    background: white;
  }

  .site-layout-close .site-layout-close-background {
    background: white;
  }

  @media (max-width: 500px) {
    .site-layout-close {
      position: absolute;
      left: -120%;
    }
  }